.admin-container {
  background: white;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #e3e3e3;
  padding-bottom: 3rem;
  border-radius: 4px;
}
.admin-params-container {
  padding-left: 2%;
  padding-right: 2%;
}

.admin-params-container label {
  margin-top: 4%;
}
.admin-params-container input[type="text"] {
  line-height: 28px;
  min-height: 28px;
  width: 80%;
  background: #c3e7fd none repeat scroll 0 0;
  border: 1px solid #b8daef;
}
.admin-params-container input[type="password"] {
  line-height: 28px;
  min-height: 28px;
  width: 80%;
  background: #c3e7fd none repeat scroll 0 0;
  border: 1px solid #b8daef;
}
.admin-params-container input[type="checkbox"] {
  margin-top: 2%;
}

.admin-params-container div.row {
  margin-bottom: 1rem;
}

.admin-params-container ul {
  width: 80%;
  overflow: auto;
  max-height: 115px;
  border: 1px solid #e6e1e1;
  border-radius: 5px;
  background: white;
  text-align: left;
}
.admin-params-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin-params-container td {
  text-align: center;
  vertical-align: middle;
}
.admin-params-container .badge-danger {
  color: #fff;
  background-color: #dc3545;
  cursor: pointer;
}

.admin-params-container .element-info {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.admin-params-container .badge-success {
  color: #fff;
  background-color: #28a745;
  padding: 4px 7px 4px 6px;
  margin-left: 4px;
  cursor: pointer;
  font-weight: bolder;
}

.admin-params-container .add-element {
  margin-left: 5px;
}

.admin-params-container select {
  line-height: 38px;
  width: 42%;
}
.admin-params-container table select {
  width: 60%;
}
