.appairage-modal {
  display: none;
  padding: 0px !important;
}

.ode-modal-btn {
  color: red;
}

.ode-container {
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.ode-container-header {
  width: 100%;
  height: 10%;
  padding: 5px;
  margin: 0px;
}
.ode-container-header-title {
  color: #008caa;
  min-width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
.ode-container-header-container {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 15%;
  font-size: 18px;
  font-weight: 300;
  color: #534d64;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.ode-container-header-icon {
  color: #c3cad9;
  font-size: 40px;
  margin: 0px 20px;
  cursor: pointer;
}

.ode-container-header-icon:hover {
  color: #828ea6;
  font-size: 40px;
  margin: 0px 20px;
  cursor: pointer;
}

.ode-container-close {
  color: #e4606d;
  font-size: 30px;
  margin: 0% 60%;
  cursor: pointer;
}

.ode-container-close:hover {
  color: #dc3545;
  font-size: 30px;
  margin: 0% 60%;
  cursor: pointer;
}

.icon-active {
  color: #4d5e80;
}

.ode-container-body {
  width: 100%;
  height: 90%;
  padding: 5px;
  margin: 0px;
  overflow: hidden;
}

.ode-container-menu {
  height: 100%;
  min-width: 80px;
  width: 5%;
  border-right: 4px solid #f5f5f5;
}

.ode-container-content {
  overflow: auto;
  height: 100%;
  padding: 1% 1% 1% 3%;
}

.ode-container-menu-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
}

.ode-mail-ligne {
  display: flex;
  padding: 7px 0px;
  align-items: center;
}

.ode-mail-ligne .ode-input {
  width: 100%;
  background-color: #ffffff !important;
  border: 1px solid #e0dede !important;
}

.tox-statusbar__branding {
  display: none;
}

#progress_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

/* loading dots */

.loading-dots:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(83, 77, 100, 0);
    text-shadow: 0.25em 0 0 rgba(83, 77, 100, 0), 0.5em 0 0 rgba(83, 77, 100, 0);
  }
  40% {
    color: rgb(83, 77, 100);
    text-shadow: 0.25em 0 0 rgba(83, 77, 100, 0), 0.5em 0 0 rgba(83, 77, 100, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 rgb(83, 77, 100), 0.5em 0 0 rgba(83, 77, 100, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 rgb(83, 77, 100), 0.5em 0 0 rgb(83, 77, 100);
  }
}

.ode-loading-message {
  text-align: center;
  font-size: 17px;
  margin-top: 5%;
  color: #606060;
  font-weight: initial;
  font-family: monospace;
}

.ode-loading-pourcentage {
  transition-duration: 1s;
  text-align: center;
  font-size: 48px;
  color: #606060;
  font-weight: initial;
  font-family: none;
  margin-bottom: 2%;
}
.ode-loading-container {
  border-radius: 25px;
  background-color: #f1f1f1;
}

.ode-loading-bar {
  border-radius: 25px;
  transition-duration: 1s;
  font-weight: bold;
  width: 0%;
  height: 40px;
  background-color: #5cf1c2;
  text-align: center;
  line-height: 40px;
  color: rgb(17 3 8);
}

.appairage-table-header thead {
  background: #35b3c5;
  font-size: 13px;
  font-weight: 700;
  padding-right: 10px;
  color: #f5f5f5;
  border-radius: 35px;
}

.appairage-table-header thead th {
  color: #f5f5f5;
}

.appairage-table-content {
  width: 100%;
  table-layout: fixed;
}

.appairage-table-header {
  width: 100%;
  table-layout: fixed;
}

.appairage-table-content td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: rgb(29, 26, 26);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.appairage-table-header td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: rgb(29, 26, 26);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  height: 95%;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.appairage-table-content th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: rgb(29, 26, 26);
  text-transform: uppercase;
}

.appairage-table-header th {
  padding: 15px 15px;
  font-size: 12px;
  font-weight: 500;
  padding-right: 10px;
  color: #f5f5f5;
  text-align: left;
}

.appairage-table-content td.ode-td-empty {
  color: #534d64;
  font-weight: 900;
  font-size: 15px;
}
/*
.appairage-table-content td.ode-td-erreur {
  background: linear-gradient(
    135deg,
    #e4606d26 15%,
    #fff 15%,
    #fff 35%,
    #e4606d26 35%,
    #e4606d26 65%,
    #fff 65%,
    #fff 85%,
    #e4606d26 85%
  );
  background-size: 50px 50px;
  background-position: 50px 50px;
}

.appairage-table-content tr.ode-tr-erreur {
  background: linear-gradient(
    135deg,
    #e4606d26 15%,
    #fff 15%,
    #fff 35%,
    #e4606d26 35%,
    #e4606d26 65%,
    #fff 65%,
    #fff 85%,
    #e4606d26 85%
  );
  background-size: 50px 50px;
  background-position: 50px 50px;
}
*/
.appairage-table-content td.ode-td-erreur {
  background: #e4606d36;
}
.appairage-table-content td.ode-td-warning {
  background: #ffc10736;
}
.appairage-table-content td.ode-td-success {
  background: #28a74536;
}
